html{height:100%;}body{height:100%;margin:0px;padding:0px}
.tabs{height:250px;width:350px;overflow-y:hidden}
.tabs { 
    background: transparent; 
    border: none; 
} 
.tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
.tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
.tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
.tabs .ui-tabs-nav .ui-state-active a { 
    color: #459e00; 
}

#sidebar {
	position:absolute;
	left:1130px;
	top:112px;
}
#sidebar
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 100px;
	border-collapse: collapse;
	text-align: left;
}
#sidebar th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#sidebar td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#sidebar tbody tr:hover td
{
	color: #009;
}




#map_canvas{width:800px; height:620px;position:relative}
